.solution-block{
  width: 100%;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title{
    font-size: 3em;
    padding-bottom: 8px;
  }

  &__subtitle{
    text-align: center;
    width: 50%;
    padding-bottom: 8px;
  }

  &__btn{
    margin: 20px 0;
    padding: 15px 30px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: #000;
    background-color: #fff;
    border: #000 1px solid;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    span{
      font-weight: 800;
    }

    &:hover{
      cursor: pointer;
      background-color: #AB6D36;
      color: #fff;
    }
  }

  &__image-wrapper{
    width: 100%;
    img{
      width: 100%;
    }
  }
}

@media screen and (min-width: 1024px){
  .solution-block{
    width: 33%;
    &__subtitle{
      width: 80%;
    }
  
  }
}